<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>random</title>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <h4> <%= joke.type %></h4>
    <h4> <%= joke.setup %></h4>
    <h4> <%= joke.punchline %></h4>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
